img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(221, 134, 40, 0.667);
}

#qrcode {
  margin-top: 20px; /* Espaciado superior para la imagen del QR */
  width: 600px; /* Ancho de la imagen del QR */
  height: 600px; /* Alto de la imagen del QR */
}

.boton {
  margin-top: 20px; /* Espaciado superior para el botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  background-color: #a0830d; /* Color de fondo verde */
  color: rgb(255, 255, 255); /* Color del texto del botón */
  border: none; /* Sin bordes */
  border-radius: 5px; /* Esquinas redondeadas */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de fuente del texto del botón */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.boton:hover {
  background-color: #a04545; /* Color de fondo del botón al pasar el mouse */
}